In [1]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

NASA Mars News

In [3]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
content = soup.find('div', class_='content_title')
news_title = content.text
para = soup.find('div',class_='article_teaser_body')
news_p = para.text

In [8]:
news_title

'NASA Updates Mars 2020 Mission Environmental Review'

In [9]:
news_p

'NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.'

JPL Mars Space Images - Featured Image

In [10]:
images_url ='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [11]:
button = browser.find_by_id('full_image').first
button.click()

In [12]:
browser.is_element_present_by_text('more info',wait_time=2)
browser.click_link_by_partial_text('more info')

In [13]:
image_html = browser.html
image_soup = BeautifulSoup(image_html, 'html.parser')

In [14]:
image_url = image_soup.find("figure",class_="lede").\
                 find("a")['href']
base_url = "https://www.jpl.nasa.gov"

In [15]:
featured_image_url = base_url + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15256_hires.jpg'

Mars Weather

In [16]:
weather_url ='https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [17]:
weather_html = browser.html
weather_soup = BeautifulSoup(weather_html, 'html.parser')

In [18]:
mars_weather_text = weather_soup.find("p", class_="tweet-text").get_text()
mars_weather_text

'InSight sol 352 (2019-11-23) low -100.7ºC (-149.3ºF) high -22.0ºC (-7.6ºF)\nwinds from the S at 5.7 m/s (12.8 mph) gusting to 21.9 m/s (49.0 mph)\npressure at 6.80 hPapic.twitter.com/fXsaTX3DDB'

In [20]:
mars_weather_text = mars_weather_text.split("Papic")
mars_weather_clean = mars_weather_text[0]

In [21]:
#removing trailing newlines
mars_weather_list = mars_weather_clean.splitlines()
separator = " "
mars_weather = separator.join(mars_weather_list)
mars_weather

'InSight sol 352 (2019-11-23) low -100.7ºC (-149.3ºF) high -22.0ºC (-7.6ºF) winds from the S at 5.7 m/s (12.8 mph) gusting to 21.9 m/s (49.0 mph) pressure at 6.80 h'

Mars Facts

In [22]:
fact_url = 'https://space-facts.com/mars/'
browser.visit(fact_url)

In [23]:
table = pd.read_html(fact_url)
mars_facts_df= table[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
mars_facts_df.columns = ['Parameter','Values']
mars_facts_df = mars_facts_df.set_index("Parameter")

In [25]:
facts_table_html = mars_facts_df.to_html()
facts_table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
facts_list = facts_table_html.splitlines()
separator = ""
facts_table_html = separator.join(facts_list)
facts_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [27]:
hem_url = "https://web.archive.org/web/20181114171728/https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)

In [28]:
hem_html = browser.html
hem_soup = BeautifulSoup(hem_html, 'html.parser')

In [29]:
hemisphere_image_urls = []
links = browser.find_by_css("a.product-item h3")

for i in range(len(links)):
    hemispheres = {}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
    sample_el = browser.find_link_by_text('Sample').first
    hemispheres['img_url'] = sample_el['href']
                                
    #hemispheres['title'] = browser.find("h2",class_="title").text
    hemispheres['title'] = browser.find_by_css("h2.title").text
    
    hemisphere_image_urls.append(hemispheres)
    
    browser.back()

In [ ]:
hemisphere_image_urls